<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/80C64C0B63382CD3ED2653356125F275F63D036028A77D38DC3286AD851A6833/scale?width=506&aspectRatio=2.00&format=jpeg"
      alt=""
      height="200px"
      srcset=""

    >
  </div>

  <a href="">

  </a>

  <div class="big-card__title">
    <h1><a href="">Saiu a nova versão do Angular</a></h1>
  </div>

  <div class="big-card__description">
    <p>
      <a href="#">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo consectetur totam accusantium in blanditiis reprehenderit sit iusto laboriosam sapiente minus architecto illo corporis repudiandae, dolores eveniet eius labore quam tempore?
      </a>
    </p>
  </div>

</div>
